
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:700');
body{
  background-color: #f4f9fa;
}
.parallax{
  position: relative;
  height: 100vh;
  width: 100%;
  overflow:hidden;
  text-align: center;
  h1{
    font-family: 'Noto Sans', sans-serif;
    position: absolute;
    text-transform: uppercase;
    margin-top: 190px;
    font-size: 110px;
    color: #eaeaea;
    mix-blend-mode: hard-light;
    text-shadow: 5px 5px 10px rgba(0,0,0,.2), -1px -1px 25px rgba(0,0,0,.1);
    letter-spacing: -10px;
  }
  h2{
    font-family: 'Noto Sans', sans-serif;
    position: absolute;
    text-transform: uppercase;
    margin-top: 315px;
    font-size: 36px;
    color: white;
    mix-blend-mode: hard-light;
    z-index: 9999999;
    text-shadow: 5px 5px 10px rgba(0,0,0,.2), -1px -1px 25px rgba(0,0,0,.1);
    letter-spacing: 2px;
  }
  #mountain{
    width: 100%;
    top: 50px;
    max-width: 978px;
  }
  #boat{
    display: inline-block;
    width: 100%;
    max-width: 176px;
    margin-top: 27%;
    margin-right: -28%;
  }
  #birds{
    display: inline-block;
    width: 100%;
    max-width: 304px;
    margin-top: 15%;
    margin-left: -30%;
  }
  #island{
    display: inline-block;
    width: 100%;
    max-width:1035px;
    margin-top: 15%;
  }
}
.text-center{
  text-align: center;
  width: 100%;
}